<% title "Display portfolio (#{@portfolio.id})" %>

<h3>Portfolio details</h3>
<table class="table">
  <tr>
    <td><b>ID</b></td>
    <td><%= @portfolio.id %></td>
  </tr>
  <tr>
    <td><b>Title</b></td>
    <td><%= @portfolio.title %></td>
  </tr>
  <tr>
    <td><b>Client Name</b></td>
    <td><%= @portfolio.client_name %></td>
  </tr>
  <tr>
    <td><b>Categories</b></td>
    <td><%= @portfolio.categories_text %></td>
  </tr>
  <tr>
    <td colspan="2"><b>Total Pictures (<%= @portfolio.pictures.try(:count) %>)</b></td>
  </tr>
  <tr>
		<td colspan="2">
			<% @portfolio.pictures.each do |pic| %>
				<%= link_to admins_picture_path(pic) do %>
					<%= image_tag pic.image_url(:small) %>
				<% end %>
			<% end %>
		</td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td><%= raw @portfolio.description %></td>
  </tr>
  <tr>
    <td><b>Created at</b></td>
    <td><%= @portfolio.created_at.to_s(:long) %></td>
  </tr>
  <tr>
    <td><b>Updated at</b></td>
    <td><%= @portfolio.updated_at.to_s(:long) %></td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to 'Edit', edit_admins_portfolio_path(@portfolio), :class => 'btn btn-warning' %>
  <%= link_to 'Destroy', admins_portfolio_path(@portfolio), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
  <%= link_to 'View All', admins_portfolios_path, :class => 'btn' %>
</div>
