<% title "Display category (#{@category.id})" %>

<h3>Category details</h3>
<table class="table">
  <tr>
    <td style="width: 120px;"><b>ID</b></td>
    <td><%= @category.id %></td>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td><%= @category.name %></td>
  </tr>
  <tr>
    <td><b>Total Pictures</b></td>
    <td><%= @category.pictures.try(:count) %></td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to 'Edit', edit_admins_category_path(@category), :class => 'btn btn-warning' %>
  <%= link_to 'Destroy', admins_category_path(@category), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
  <%= link_to 'View All', admins_categories_path, :class => 'btn' %>
</div>
