	<header>
		<div class="headerSection">
			<div class="container-fluid">
				<div class="row">
					<div class="col-auto">
						<div class="logo mainLogo">
							<a href="/">
								<img src="<%= image_url('logo-white.png') %>" alt="logo" />
							</a>
						</div>
					</div>
					<div class="col">
						<div class="navheader">
							<span class="close-tgl d-lg-none"><img src="<%= image_url('close.svg') %>" alt="..."></span>
							<nav class="topNav">
								<ul>
									<li  class="<%= 'active' if is_homepage? %>">
										<a href="/">home</a>
									</li>
									<li class="<%= 'active' if is_aboutpage? %>">
										<a href="/about">about</a>
									</li>
									<% if is_mobile_request? %>
									<li class="<%= 'active' if is_teampage? %>">
										<a href="/theteam">the team</a>
									</li>
									<% end %>
									<li class="<%= 'active' if is_projectpage? %>">
										<a href="/projects">projects</a>
									</li>
									<% if is_mobile_request? %>
									<li class="<%= 'active' if is_contactpage? %>">
										<a href="/contact">contact us</a>
									</li>
									<% end %>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-auto d-lg-none">
						<div class="triggar">
							<span class="triggarLines"></span>
							<!-- <span class="triggarLines"></span> -->
							<span class="triggarLines"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
