<section>
	<div class="bannerSection pageContent">
			<div class="bannerInner">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<% @banners.each_with_index do |banner, index| %>
						<div class="carousel-item <%= 'active' if index == 0%>">
							<div class="bannerSlider">
								<div class="bannerimg">
									<img src="<%= banner.image_url %>" alt="<%= banner.title %>">
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<a class="slideArrow prevSlide" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="arrowIcon"><img src="<%= image_url('left-arrow.png') %>"></span>
					</a>
					<a class="slideArrow nextSlide" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="arrowIcon"><img src="<%= image_url('right-arrow.png') %>"></span>
					</a>
				</div>
			</div>
	</div>
</section>
