<section>
	<div class="companies">
		<div class="container-fluid">
			<div class="sliderSection slider">
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg1.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg2.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg3.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg4.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg5.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg6.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" ar	ia-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg1.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg2.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
				<div class="sliderInfo">
					<img src="<%= image_url('footerimg3.png') %>" alt="...">
						<div class="sliderInstaCol">
							<a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
