	<section>
		<div class="container-fluid ">
			<div class="form-row ">
			<!-- 	Three images collage column starts -->
				<div class="col-md-6 col-sm-12 ">
					<div class="imgsizing ">
						<div class="form-row">
								<div class="col-md-6 col-sm-6">
								<div class="colimg1 overlayHover">
									<img src="<%= image_url('colimg1.jpg') %>" alt="..." />
								<div class="ImgOverlay">
									<div class="overlayInfo">
										<h2>BRUNHOUSE</h2>
										<p>Private residental</p>
									</div>
								</div>
								</div>
							</div>
						<div class="col-md-6 col-sm-6"">
						<div class="smallerimg overlayHover">
							<img src="<%= image_url('img3.jpg') %>" alt="..." />
							<div class="ImgOverlay">
								<div class="overlayInfo">
									<h2>BRUNHOUSE</h2>
									<p>Private residental</p>
								</div>
							</div>
						</div>
						<div class="smallerimg overlayHover">
							<img src="<%= image_url('img2.jpg') %>" alt="..." />
							<div class="ImgOverlay">
								<div class="overlayInfo">
									<h2>BRUNHOUSE</h2>
									<p>Private residental</p>
								</div>
							</div>
						</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
					<div class="biggerimg1 overlayHover">
						<img src="<%= image_url('img11.jpg') %>" alt="..." />
					<div class="ImgOverlay">
						<div class="overlayInfo">
							<h2>BRUNHOUSE</h2>
							<p>Private residental</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<div class=imgsection>
			<div class="form-row">
				<div class="col-md-6 ">
					<div class="biggerimg1 overlayHover">
						<img src="<%= image_url('img6.jpg') %>" alt="..." />
							<div class="ImgOverlay">
								<div class="overlayInfo">
									<h2>BRUNHOUSE</h2>
									<p>Private residental</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6  col-sm-12">
					<div class="imgsizing">
						<div class="form-row ">
								<div class="col-md-6 col-sm-6">
								<div class="colimg1 overlayHover">
									<img src="<%= image_url('restaurant.jpg') %>" alt="...">
								<div class="ImgOverlay">
									<div class="overlayInfo">
										<h2>BRUNHOUSE</h2>
										<p>Private residental</p>
									</div>
								</div>
								</div>
							</div>
						<div class="col-md-6  col-sm-6"">
						<div class="smallerimg overlayHover">
							<img src="<%= image_url('img5.jpg') %>" alt="...">
							<div class="ImgOverlay">
								<div class="overlayInfo">
									<h2>BRUNHOUSE</h2>
									<p>Private residental</p>
								</div>
							</div>
						</div>
						<div class="smallerimg overlayHover">
							<img src="<%= image_url('img4.jpg') %>" alt="...">
							<div class="ImgOverlay">
								<div class="overlayInfo">
									<h2>BRUNHOUSE</h2>
									<p>Private residental</p>
								</div>
							</div>
						</div>
							
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</section>
