<% unless is_mobile_request? %>
<section>
  <div class="pageContent">
    <div class="container">
      <div class="aboutUS">
          <h1>about us</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>We focus on architecture that is easy going in which directly connects to ssom studio’s tropical roots. ssom studio is your total partner in architecture /interior design, land development & construction. We apply thorough attention in our architecture production of every scale projects, for each one is a module to reach a bigger architectural step ahead for the supple shapes of modern movements.
              </h2>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="aboutImg">
							<img src="<%= image_url('abtbanner.jpg') %>" alt="banner">
          </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
              <div class="aboutbannerimg">
								<img src="<%= image_url('about_us_2.png') %>" alt="bannerimg" style="width:50%">
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
<section>
  <div class="container we_develop">
      <div class="row">
          <div class="col-md-6 ">
            <div class="yearheadings">
              <div class="year" style="margin-bottom:20px">
								<div class="heading">
                  <h1>WE DEVELOP:</h1>
								</div>
              </div>
              <div class="year">
								<div class="heading">
                  <h2>1. Small, compound & luxury &nbsp;&nbsp;&nbsp;&nbsp;residental building</h2>
								</div>
              </div>
              <div class="year">
								<div class="heading">
                  <h2>2. Hospitality building</h2>
								</div>
              </div>
              <div class="year">
								<div class="heading">
                  <h2>3. Retail building & Interior &nbsp;&nbsp;&nbsp;&nbsp;application</h2>
								</div>
              </div>
              <div class="year">
								<div class="heading">
                  <h2>4. Public & Goverment building</h2>
								</div>
              </div>
              <div class="year">
								<div class="heading">
                  <h2>5. Mixed-use building</h2>
								</div>
              </div>
         </div>
       </div>
		<div class="col-md-6">
			 <div class="yearImg">
				 <img src="<%= image_url('yearimg.png') %>" alt="yearimg">
				</div>
		</div>
		</div>
  </section>
	<%= render "the_team" %>
<% else %>
	<%= render "about_mobile" %>
<% end %>
