<section>
  <div class="sectionSpace">
    <div class="container">
			<%= render "browse_menu" %>

      <div class="catOptionResult">

        <div class="gridView">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
									<a href="<%= game_path %>"><img src="assets/cardimg-1.png" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-2.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-3.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Battlegrounds</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-4.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Grand Theft Auto</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-5.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">AOV</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-6.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Devil May Cry 5</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-7.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Path Of Exile</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-8.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">DOTA 2</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-5.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">AOV</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-6.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Devil May Cry 5</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-7.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Path Of Exile</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="<%= game_path %>"><img src="assets/cardimg-8.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">DOTA 2</a></span>
									<span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="listView">
          <div class="table-responsive">
            <table class="table tableStyle tdAlignCenter">
              <thead>
                <tr>
                  <th scope="col" width="90"></th>
                  <th scope="col" width="250">Game</th>
                  <th scope="col">Viewers</th>
                  <th scope="col" width="200">Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-1.png" alt="..."></a></td>
                  <td><span class="cardTitle">Mobile Legends</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-2.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Fortnite</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-3.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Battlegrounds</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-4.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Grand Theft Auto</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-5.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">AOV</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-6.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Devil May Cry 5</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-7.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Path Of Exile</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
                <tr>
                  <td><a href="<%= game_path %>" class="streamerListImg"><img src="assets/cardimg-8.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">DOTA 2</span></td>
                  <td>2,8 M Viewers</td>
                  <td>Mobile Game | Action | Strategy</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

