<%= render "sliders" %>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>FEATURED GAME</h4>
            <h5>Explanation of the section</h5>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection">
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-1.png" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends…</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-2.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
                    <span class="viewersCol">125k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-3.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-4.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Grand Theft Auto…</a></span>
                    <span class="viewersCol">48k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-5.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Arena of Valor</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-6.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Devil May Cry 5</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-7.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Path of Exile</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol">
                    <a href="<%= game_path %>"><img src="assets/cardimg-8.jpg" alt="..."></a>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Dota 2</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>POPULAR TODAY</h4>
            <h5>Explanation of the section</h5>
          </div>
        </div>
      </div>
      <div class="popularSection mt-2">
        <div class="form-row">
          <div class="col-md-4">
            <div class="cardStyle cardStyle2">
              <div class="rightTags onlyClip">
                <ul>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/img-1.png" alt="..."></a>
              </div>
              <div class="cardContent imgcontentcol">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate">
                  <span class="cardUserName text-truncate"><a href="javascript:void(0)" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
                </span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
              </div>
              <span class="videotimetag">
                  0:30
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cardStyle cardStyle2">
              <div class="rightTags" style="right:1px;">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/img-2.jpg" alt="..."></a>
              </div>
              <div class="cardContent imgcontentcol">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate">
                  <span class="cardUserName text-truncate"><a href="javascript:void(0)" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
                </span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
              </div>
              <span class="videotimetag">
                  0:30
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cardStyle cardStyle2">
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/img-3.jpg" alt="..."></a>
              </div>
              <div class="cardContent imgcontentcol">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate">
                  <span class="cardUserName text-truncate"><a href="/other-user" tabindex="0"><span>RRQ Honey</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
                </span>
                <span class="cardusername text-truncate"><a href="javascript:void(0)">This is my status!</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>FEATURED CLIPS</h4>
            <h5>Categories featured clips</h5>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection mt-2">
        <div class="form-row">
          <div class="col-sm-6 col-lg-3">
            <div class="cardStyle cardStyle3">
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                <span class="videotimetag">
                    0:30
                </span>
                <span class="playicon">
                  <img src="assets/play-icon.png" alt="">
                </span>
              </div>
              <div class="cardContent imgcontentcol pr-3">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
                <ul class="cardlist">
                  <li>169k Views</li>
                  <li>1 hours ago</li>
                </ul>
                <div class="optiondots">
                  <a href="#">
                    <img width="4" src="assets/optiondots.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="cardStyle cardStyle3">
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-2.jpg" alt="..."></a>
                <span class="videotimetag">
                    0:30
                </span>
                <span class="playicon">
                  <img src="assets/play-icon.png" alt="">
                </span>
              </div>
              <div class="cardContent imgcontentcol pr-3">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
                <ul class="cardlist">
                  <li>169k Views</li>
                  <li>1 hours ago</li>
                </ul>
                <div class="optiondots">
                  <a href="#">
                    <img width="4" src="assets/optiondots.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="cardStyle cardStyle3">
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-3.jpg" alt="..."></a>
                <span class="videotimetag">
                    0:30
                </span>
                <span class="playicon">
                  <img src="assets/play-icon.png" alt="">
                </span>
              </div>
              <div class="cardContent imgcontentcol pr-3">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
                <ul class="cardlist">
                  <li>169k Views</li>
                  <li>1 hours ago</li>
                </ul>
                <div class="optiondots">
                  <a href="#">
                    <img width="4" src="assets/optiondots.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="cardStyle cardStyle3">
              <div class="cardImgCol">
                <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-4.jpg" alt="..."></a>
                <span class="playicon">
                  <img src="assets/play-icon.png" alt="">
                </span>
                <span class="videotimetag">
                    0:30
                </span>
              </div>
              <div class="cardContent imgcontentcol pr-3">
                <div class="cardcontentimg">
									<a href="/other-user">
										<img class="brleft" src="assets/userimg.png" alt="">
									</a>
                </div>
                <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                <span class="cardusername text-truncate"><a href="/other-user">RRQ Honey</a></span>
                <ul class="cardlist">
                  <li>169k Views</li>
                  <li>1 hours ago</li>
                </ul>
                <div class="optiondots">
                  <a href="#">
                    <img width="4" src="assets/optiondots.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "gox_exclusive" %>
