<section style="padding-top:105px;">
	<div class="portfolioBanner pageContent">
		<div class="container-fluid">
			<div class="bannerinnerText">
				<h2>Project</h2>
				<h2>Brunhouse<span><img src="<%= image_url('navimgwhite.png') %>" alt="navimgwhite"></span></h2>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="portfolioSection">
		<div class="tabcols">
			<div class="container">
				<div class="portfolioLinks">
					<ul class="nav" id="pills-tab" role="tablist">
						<% @categories.each_with_index do |category, index| %>
							<li>
								<a class="<%= 'active' if index == 0 %>" id='<%= "#{category.name.downcase}-tab" %>' data-toggle="pill" href="<%= "##{category.name.downcase}" %>" role="tab" aria-controls="<%= "#{category.name.downcase}" %>" aria-selected="<%= 'true' if index == 0 %>"><%= "#{category.name.upcase}" %></a>
							</li>
						<% end %>
					</ul>
				</div>
				<div class="tab-content" id="pills-tabContent">
					<% @categories.each_with_index do |category, index| %>
						<div class="tab-pane fade <%= 'show active' if index == 0 %>" id="<%= "#{category.name.downcase}" %>" role="tabpanel" aria-labelledby='<%= "#{category.name.downcase}-tab" %>'>
							<% category.pictures.first(6).each do |picture| %>
							<div class="Portfolio"><a href="<%= project_path(picture.portfolio) %>"><img class="card-img" src="<%= picture.image_url(:small) %>" alt=""></a>
								<div class="desc">
									<h6><%= picture.category.name %></h6>
									<h5><%= picture.portfolio.title %></h5>
								</div>
							</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="portBtn">
				<button type="button" class="btn btnStyle">
					<span>see more</span>
				</button>
			</div>
		</div>
	</div>
</section>

