<section>
<div class="container">
	<div class="projectDetails">
		<div class="row">

			<div class="col-md-6">
				<div class="swiperContent">
					<h2><%= @portfolio.title %></h2>
					<p><%= raw(@portfolio.description) %></p>
					<ul>
						<li><span>Category : </span><%= @portfolio.categories_text %></li>
						<li><span>Type : </span><%= @portfolio.type_project %></li>
						<li><span>Size : </span><%= @portfolio.size_text %></li>
						<li><span>Location : </span><%= @portfolio.location %></li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<% @portfolio.pictures.each do |picture| %>
					<img src="<%= picture.image_url %>" class="imageDetail" />
				<% end %>
			</div>

		</div>
	</div>
</div>
</section>
