<div class="well">
  <h2>Login to Administrator DA Photography</h2>
  <hr>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="row">
			<div class="span5">
				<%= f.error_notification %>
				<%= f.input :email, :label => false, :input_html => { :class => "span5" }, :required => false, :autofocus => true, :placeholder => "Email" %>
				<%= f.input :password, :label => false, :input_html => { :class => "span5" }, :required => false, :placeholder => "Password" %>
			</div>
			<div class="span3" style="text-align:center">
				<%= image_tag "logo.png", :style => "width:20%" %>
				<h6><%= link_to "www.daphotography.com", root_path %></h6>
			</div>
		</div>
    <hr>
		<%= f.button :submit, "Sign in" %>
  <% end %>
</div>
