<li class="dropdown">
  <a href="#"
        class="dropdown-toggle"
        data-toggle="dropdown">
        Manage Users
        <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Admins', admins_admins_path %></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#"
        class="dropdown-toggle"
        data-toggle="dropdown">
        Manage Data
        <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Banners', admins_banners_path %></li>
    <li><%= link_to 'Blogs', admins_blogs_path %></li>
    <li><%= link_to 'Contacts', admins_contacts_path %></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#"
        class="dropdown-toggle"
        data-toggle="dropdown">
        Manage Portfolios
        <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Categories', admins_categories_path %></li>
    <li><%= link_to 'Portfolios', admins_portfolios_path %></li>
    <li><%= link_to 'Pictures', admins_pictures_path %></li>
  </ul>
</li>
