<% content_for :sidebar do %>
  <%= render "admins/shared/error_messages", :target => @blog %>
<% end %>

<%= simple_form_for [:admins, @blog], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <%= f.input :title %>
    <%= f.input :image %>
    <%= f.input :description, as: :text %>
  </fieldset>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <% unless @blog.new_record? %>
    <%= link_to "Cancel", admins_blog_path(@blog), :class => 'btn' %>
    <% else %>
    <%= link_to "Cancel", admins_blogs_path, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
