<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title><%= content_for?(:title) ? "#{configatron.site_name} - #{yield(:title)}" : configatron.site_name %></title>
	<!-- Favicon icon -->
	<%= favicon_link_tag 'favicon.png' %>

	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Heebo%3A300%2C400%2C500%7CRoboto%3A300%2C400%2C500&amp;subset=latin-ext&amp;ver=1.0.0" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Style -->
	<%= stylesheet_link_tag :application %>
	<%= csrf_meta_tag %>
</head>
<body>
	<%= render "shared/header" %>
	<%= yield %>
	<%= render "shared/footer" unless is_mobile_request? %>
	<%= javascript_include_tag :application %>
	<%= yield :tail %>
</body>
</html>
