<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= content_for?(:title) ? "#{configatron.site_name} - #{yield(:title)}" : configatron.site_name %></title>
	<!-- Favicon icon -->
	<%= favicon_link_tag 'favicon.png' %>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Style -->
	<%= stylesheet_link_tag :application %>
	<%= csrf_meta_tag %>
</head>
<body>
	<%= render "shared/header" %>
	<%= yield %>
	<%= render "shared/footer" %>
	<%= javascript_include_tag :application %>
</body>
</html>
